name: Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Set up Node.s
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Wails CLI
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install frontend dependencies
        run: npm install
        working-directory: frontend

      - name: Build production version
        run: wails build -o zdp-tool

      - name: Build debug version
        run: wails build -debug -o zdp-tool-debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: builds
          path: |
            build/bin/zdp-tool
            build/bin/zdp-tool-debug
