# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Build
      working-directory: zdp-app
      run: go build -o zdp-tool.exe #./...

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      working-directory: zdp-app
      with:
        name: zdp-tool.exe
        path: zdp-tool.exe # Adjust 'your-binary-name' to the actual name of your compiled binary
